{% extends "base.html.twig" %}

{% block title %}Modifier une adresse
{% endblock %}

{% block content %}
	<h1>editez une nouvelle adresse</h1>
	{% include "partials/_address_form.html.twig" %}
{% endblock %}
